<h1>Edit Player</h1>

<div class="single_player_container">
    <div class="player_card">
        <div class="player_pic"><img src=<%=@player_id.picture%> class="player_headshot"/>
        <div class="team_logo"><img src=<%= @player_team[:logo] %> /></div>  
        </div>
        <div class="player_info">
            <div class="edit-form">
                <%= form_for(@player_id) do |f| %>
                    <div>
                        <div><%= f.label :name%></div>
                        <%= f.text_field :name%>
                    </div>
                    <div>
                        <div><%= f.label :team%></div>
                        <%= f.text_field :team %>
                    </div>
                    <div>
                        <div><%= f.label :position %></div>
                        <%= f.text_field :position %>
                    </div>
                    <div>
                        <div><%= f.label :height %></div>
                        <%= f.text_field :height %>
                    </div>
                    <div>
                        <div><%= f.label :weight %></div>
                        <%= f.text_field :weight %>
                    </div>
                    <div>
                        <div><%= f.label :picture_url %></div>
                        <%= f.text_field :picture %>
                    </div>
                    <br>
                    <div>
                        <%= f.submit "Update Player" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>