<%= stylesheet_link_tag 'index.css' %>
<div class="navigation">
    <div class="nav_logo">
        <h2>My5</h2>
    </div>
    <div class="nav_links">
        <div class="links_container">
            <ul>
                <li><%= link_to 'All Starters', index_path %></li>
                <li><%= link_to 'Add Player', new_player_path %></li>
            </ul>
        </div>
    </div>
</div>
<div class="page_title">
    <h1>2017 - 2018 STARTERS</h1>
</div>

<div class="index">
    <% @team.each do |t| %>
        <div class="rotation">
            <div class="team">
                <div><img src=<%=t.logo%> /></div>  
                <div><%= t.abbrev %></div>
                <div><%= t.name %></div>
                <div><%= t.total_salaries %></div>
            </div>
            <% @player.each do |p| %>
                    <% if p.team === t.name %>
                        <div class="player-container">
                            <div class="player">
                                <div><img src=<%=p.picture%> /></div>
                                <div class="name" ><%= p.name %></div>
                                <div><%= p.position %></div>
                                <div><%= p.height %></div>
                                <div><%= p.weight %></div>
                            </div>
                            <div class="links">
                                <%= button_to "MORE", player_show_path(p.id), method: :get %>
                                <%= button_to "EDIT", edit_player_path(p.id), method: :get %>
                                <%= button_to "DELETE", player_show_path(p.id), method: :delete, 
                                data: { confirm: 'Are you sure?!' } %>
                            </div>
                        </div>
                    <% end %>
            <% end %>
        </div>
        <br>
    <% end %>
</div>