<%= stylesheet_link_tag 'index.css' %>
<h1>ALL PLAYERS</h1>

<div class="index">
    <% @team.each do |t| %>
        <div class="rotation">
            <div class="team">
                <div><img src=<%=t.logo%> /></div>  
                <div><%= t.abbrev %></div>
                <div><%= t.name %></div>
                <div><%= t.total_salaries %></div>
            </div>
            <% @player.each do |p| %>
                    <% if p.team === t.abbrev %>
                        <div class="player-container">
                            <div><img src=<%=p.picture%> /></div>
                            <div><%= p.name %></div>
                            <div><%= p.position %></div>
                            <div><%= p.height %></div>
                            <div><%= p.weight %></div>
                        </div>
                    <% end %>
            <% end %>
        </div>
        <br>
    <% end %>
</div>