<%= stylesheet_link_tag 'index.css' %>
<h1>ALL STARTING LINEUPS</h1>

<div class="index">
    <% @team.each do |t| %>
        <div class="rotation">
            <div class="team">
                <div><img src=<%=t.logo%> /></div>  
                <div><%= t.abbrev %></div>
                <div><%= t.name %></div>
                <div><%= t.total_salaries %></div>
                <div><%= link_to 'Add Player', new_player_path %></div>
            </div>
            <% @player.each do |p| %>
                    <% if p.team === t.abbrev %>
                        <div class="player-container">
                            <div class="player">
                                <div><img src=<%=p.picture%> /></div>
                                <div class="name" ><%= p.name %></div>
                                <div><%= p.position %></div>
                                <div><%= p.height %></div>
                                <div><%= p.weight %></div>
                            </div>
                            <div class="links">
                                <%= button_to "MORE", player_show_path(p.id), method: :get %>
                                <button class="btn-1">EDIT</button>
                                <button class="btn-1">DELETE</button>
                            </div>
                        </div>
                    <% end %>
            <% end %>
        </div>
        <br>
    <% end %>
</div>