<%= stylesheet_link_tag 'index.css' %>
<div class="navigation">
    <div class="nav_logo">
        <h2><%= link_to 'My5', index_path %></h2>
    </div>
    <div class="nav_links">
        <div class="links_container">
            <ul>
                <li><%= link_to 'All Starters', index_path %></li>
                <li><%= link_to 'Add Player', new_player_path %></li>
            </ul>
        </div>
    </div>
</div>
<div class="page_title">
    <h1>INDIVIDUAL PLAYER</h1>
</div>

<div class="single_player_container">
    <div class="player_card">
        <div class="player_pic"><img src=<%=@player_id.picture%> class="player_headshot" />
            <div class="team_logo"><img src=<%= @player_team[:logo] %> /></div>  
        </div>
        <div class="player_info">
            <div><h2><%= @player_id.name %><h2></div>
            <div><%= @player_id.position %></div>
            <div><%= @player_id.height %></div>
            <div><%= @player_id.weight %></div>
            <div><%= @player_team[:name] %></div>
            <%= link_to 'EDIT', edit_player_path %>
        </div>
    </div>
</div>
